/*common*/

body {
    padding: 24px;
    background-color: #1d1d1d;
    color: #bbb;
    font-family: "microsoft yahei", "microsoft yahei light", "helvetica neue", Helvetica, Arial, sans-serif, punctuation, "PingFangSC-Regular";
    line-height: 1.625;
}

.container {
    padding: 0;
    background-color: #0f0f0f;
}

.row {
    margin: 0;
    padding: 0;
}

.badge-button {
    background: #33779b;
    border: 1px solid #777;
    padding: 2px 15px 4px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
    line-height: 16px;
    border-radius: 20px;
    white-space: nowrap;
    outline: 0;
    text-decoration: none;
}


.badge-button:hover {
    background-color: #1d1d1d;
}

/*----------------------- header start */
.header .banner {
    min-height: 160px;
}

.header .carousel {
    width: 100%;
}

.header .carousel .carousel-inner .item img {
    width: 100%;
}

.header .nav {
    clear: both;
    display: block;
    float: left;
    margin: 0 auto;
    width: 100%;
    background: -webkit-linear-gradient(#383838, #272727);
    border-bottom: 1px solid #222;
    line-height: 300%;
}

.header .nav ul {
    margin: 0;
    padding: 0 18px;
    font-size: 13px;
    list-style: none;
    overflow-wrap: break-word;
}

.header .nav ul li {
    position: relative;
    float: left;
    display: list-item;
    text-align: -webkit-match-parent;
}

.header .nav ul li a {
    color: #eee;
    display: block;
    line-height: 3.333em;
    padding: 0 1.2125em;
    text-decoration: none;
}

.header .nav ul li:hover > a, .header .nav ul li a:focus {
    background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
    color: #373737;
}

/*----------------------- header end */


/*----------------------- main common start */
.main a {
    color: #1982d1;
    text-decoration: none;
}

.main a:hover {
    color: #1982d1;
    text-decoration: none;
}

/*----------------------- main common end */


/*----------------------- main primary start */

.main .primary {
    min-height: 160px;
    padding: 0 36px;
}

.main .primary .post-seg {
    margin: 12px 0;
    padding-top: 6px;
    border-bottom: 1px solid #222;
}

.main .primary .post-seg-content {
    margin: 24px 0;
}

.main .primary .post-seg-header {
    position: relative;
    margin: 16px 0;
}

.main .primary .post-seg-title {
    font-size: 21px;
}

.main .primary .post-seg-title a {
    color: #ddd;
    font-weight: 700;
}

.main .primary .post-seg-title a:active {
    color: #1982d1;
}

.main .primary .post-seg-title a:hover {
    color: #1982d1;
}

.main .primary .post-seg-meta {
    margin: 9px 0;
    font-size: 10px;
    color: #999;
}

.main .primary .post-seg-comment a {
    background: #282828 url(../imgs/comment-bubble.png) no-repeat;
    border-color: #222;
    color: #888;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: 35px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 3px;
    right: 0;
    width: 43px;
    height: 36px;
}

.main .primary .post-seg-comment a:hover {
    background-color: #1982d1;
    color: #ddd;
}

.main .primary .post-seg-meta a,
.main .primary .post-seg-footer a {
    color: #1982d1;
    font-size: 12px;
}

.main .primary .post-seg-meta a:hover,
.main .primary .post-seg-footer a:hover {
    color: #bbb;
}

.main .primary .post-seg-author img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 50%;
    vertical-align: top;
}

.main .primary .post-seg-footer {
    position: relative;
    margin: 21px 0;
}

.main .primary .post-seg-source {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main .primary .post-seg-source a {
    background-color: #282828;
    color: #999;
    padding: 3px 9px;
}

.main .primary .post-seg-source a:hover {
    background-color: #1982d1;
    color: #ddd;
}

.main .primary .page-nav {
    padding: 6px 0 30px;
    margin-bottom: 16px;
}

.main .primary .page-nav .page-item {
    margin-right: 6px;
    padding-top: 2px;
    display: block;
    width: 27px;
    position: relative;
    float: left;
    height: 27px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #999;
    color: #bbb;
    text-decoration: none;
}

.main .primary .page-nav .page-item:hover {
    background-color: #1982d1;
    color: #eee;
}


/*----------------------- main primary end */


/*----------------------- main secondary start */

.main .secondary .widget-seg {
    margin: 24px 0 0;
}

.main .secondary .widget-seg-title {
    margin: 48px 0 16px;
    padding-bottom: 9px;
    border-bottom: 2px solid #222;
    font-size: 16px;
    font-weight: 5720;
}

/*meta*/
.main .secondary .widget-seg-meta {
    text-align: center;
}

.main .secondary .widget-seg-meta a {
    color: #333;
}

.main .secondary .widget-seg-meta a:hover {
    color: #ddd;
}

/*article*/
.main .secondary .widget-seg-article ul {
    display: block;
    margin-left: 6px;
    padding: 0;
    border-left: 1px solid #aaa;
    padding-inline-start: 6px;

}

.main .secondary .widget-seg-article li {
    position: relative;
    margin: 0;
    padding: 6px 0 6px 15px;
    list-style: none;
}

.main .secondary .widget-seg-article-time {
    color: #aaa;
}

.main .secondary .widget-seg-article li i {
    width: 5px;
    height: 5px;
    background: #0f0f0f;
    border-width: 1px;
    border-color: #aaa;
    border-style: solid;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    left: -9px;
    top: 15px;
}

.main .secondary .widget-seg-article li:hover i {
    background: #245269;
    border-color: #1982d1;
}

.main .secondary .widget-seg-article li p {
    width: 15px;
    height: 15px;
    background-color: #0f0f0f;
    border: 1px solid #1982d1;
    opacity: 0;
    border-radius: 100%;
    position: absolute;
    left: -14px;
    top: 10px;
    transition: opacity 1s;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
}

.main .secondary .widget-seg-article li:hover p {
    opacity: 0.8;
}

.main .secondary .widget-seg-article li a {
    color: #1982d1;
}

.main .secondary a:hover .widget-seg-article-title {
    color: #1982d1;
    text-decoration: underline;
}

/*author*/
.main .secondary .widget-seg-author .authors {
    margin-top: 32px;
    clear: both;
}

.main .secondary .widget-seg-author .avatar {
    float: left;
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 15px;
    overflow: hidden;
}

.main .secondary .widget-seg-author img {
    width: 48px;
    height: 48px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

/*----------------------- main secondary start */


.main .secondary {
    min-height: 160px;
    border: 1px solid #5a5a00;
}

.footer .copyright {
    min-height: 72px;
    border: 1px solid #ff0070;
    background-color: #060606;
}